header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between; /* 자식 요소를 좌우로 분산 배치 */
  padding: 0 20px;
  transition: background-color 0.3s ease;
}

.ToCar-link {
  text-decoration: none; /* 밑줄 제거 */
  color: white; /* 부모 요소의 글자색 상속 */
  display: inline-block;
}

.scrolled {
  background-color: white; /* 스크롤될 때의 색상 */
  color: blue; /* 스크롤될 때의 글씨 색상 */
}

.Header-button {
  background-color: transparent;
  border: 2px solid white;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 20px;
}

.Header-button:hover {
  background-color: white;
  color: #333;
}

.Header-userInfo {
  display: inline-block; /* 요소를 인라인 블록으로 표시하여 좌우로 배치 */
  margin-right:20px;
}
