.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-left: 200px;
}

.login-form {
  flex: 1;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
}

.login-image {
  flex: 1;
  margin-left: 140px;/*사진과의 간격*/
  background-image: url('../image/chair.PNG'); /* 배경 이미지 추가 */
  background-repeat: no-repeat; /* 배경 이미지를 반복하지 않도록 설정 */
  block-size: cover;
  
}

.input-group {
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  box-sizing: border-box;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #0000ff; 
  color: white;
  border: none;
  margin-top: 20px;
  cursor: pointer;
}

button.kakao-login {
  background-color: #fee500;
}

.separator {
  text-align: center;
  margin: 20px 0;
}

.signup-link {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #0000ff; 
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
<<<<<<< HEAD
}
=======
}
>>>>>>> 20acf9f1c403b026e548efb4477eabacabf45fb2
