.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: transparent;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.nav-links {
  display: flex;
  gap: 10px;
  padding: 1px 10px; /* 타원형 모양을 위해 위아래/양옆 패딩 추가*/
  background-color: white; 
  border-radius: 20px; 
}

.nav-item {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: normal;
  transition: font-weight 0.3s;
}

.nav-item:hover {
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.nav-item.active {
  color: black;
  font-weight: bold;
}


.mypage {
  display: flex;
  align-items: center;
  margin-top: -5px; 
  }
  
  .mypage button {
  padding: 5px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
